.App {
  text-align: center;
}

/* write your parent styles in here for your App.js */

.Header {
  color: white;
  margin: 20px;
  text-shadow: 1px 1px 5px #fff;
  font-family: "Audiowide", cursive;
}
ul {
  list-style-type: none;
}
p {
  color: #ffffff;
  text-shadow: 1px 1px 5px #000000;
  margin: 10px;
}
button:hover {
  background: #004c8a;
  color: #fdfdfd;
  font-size: 20px;
}